.chat_header {
  align-items: center;
  background-color: #0085FF;
  color: white;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}

.chat_header svg {
  cursor: pointer;
}

.chat_header_user {
  align-items: center;
  display: flex;
}

.chat_header_user img{
  height: 47px;
  width: 50px;
}

.chat_header_user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat_header_user_info h2 {
  font-size: 16px;
}

.chat_header_user_info span{
  font-size: 12px;
}

.verify_user {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: #0085FF;
  display: flex;
  width: 40px;
}

.verify_user svg:nth-child(2) {
  height: 15px;
  width: 15px;
}

.chat_user {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  border-top: 1px solid rgba(0, 0, 0, 0.096);
  display: flex;
  margin: 1rem 0;
  padding: 1rem 0;
}

.chat_user_info {
  display: flex;
  flex-direction: column;
  
  gap: 5px;
}

.chat_user_info h2 {
  font-size: 26px;
}

.chat_user_info span {
  font-size: 14px;
}

.chat_user_info span:nth-child(3) {
  color: rgba(0, 0, 0, 0.527);
}

.chat_user_info svg {
  height: 20px;
  width: 20px;
  background-color: #0085FF;
  color: white;
  border-radius: 50%;
}

@media only screen and (min-width: 1200px) {
.chatbot{
  max-width: 600px;
  height: 600px;
  position: fixed;
  top: 30%;
  right: 5%;
  box-shadow: 0 0 3px black;
  border-radius: 0 0 0 10px;
}

.chat_header {
  height: 8vh;
}

.chat_header_user img {
  height: 55px;
  width: 60px;
}

.chat_header_user_info {
  font-size: 14px;
}

}