.chatbot {
  position: relative;
  height: 100vh;
}

.chat_header {
  align-items: center;
  background-color: #0085FF;
  color: white;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}

.chat_header svg {
  cursor: pointer;
}

.chat_header_user {
  align-items: center;
  display: flex;
}

.chat_header_user img{
  height: 47px;
  width: 50px;
}

.chat_header_user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat_header_user_info h2 {
  font-size: 16px;
}

.chat_header_user_info span{
  font-size: 12px;
}

.verify_user {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: #0085FF;
  display: flex;
  width: 40px;
}

.verify_user svg:nth-child(2) {
  height: 15px;
  width: 15px;
}

.chat_user {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  border-top: 1px solid rgba(0, 0, 0, 0.096);
  display: flex;
  margin: 1rem 0;
  padding: 1rem 0;
}

.chat_user_info {
  display: flex;
  flex-direction: column;
  
  gap: 5px;
}

.chat_user_info h2 {
  font-size: 26px;
}

.chat_user_info span {
  font-size: 14px;
}

.chat_user_info span:nth-child(3) {
  color: rgba(0, 0, 0, 0.527);
}

.chat_user_info svg {
  height: 20px;
  width: 20px;
  background-color: #0085FF;
  color: white;
  border-radius: 50%;
}

.chat_messages {
  max-height: 50vh;
  overflow-y: scroll;
}

.chat_type_messages {
  background-color: white;
  align-items: center;
  bottom: 0%;
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.input_message input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  position: relative;
}

.input_message svg {
  color: #0085FF;
  position: absolute;
  right: 12%;
  top: 20%;
}

.add_icon {
  border-radius: 50%;
  background-color: #0085FF;
  color: white;
}

.send_message {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #0085FF;
}

.send_message:disabled {
  cursor: not-allowed;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.chat_time {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.774);
}

@media only screen and (min-width: 1200px) {
.chatbot{
  border-radius: 0 0 0 10px;
  box-shadow: 0 0 3px black;
  height: 65vh;
  position: fixed;
  right: 7%;
  top: 25%;
  width: 25vw;
}

.chatbot_container {
  position: relative;
  height: 100%;
}

.chat_messages {
  max-height: 45%;
}

.chat_type_messages {
  position: absolute; 
  border-radius: 0 0 0 20px;
}

.chat_header {
  height: 8vh;
}

.chat_header_user img {
  height: 55px;
  width: 60px;
}

.chat_header_user_info {
  font-size: 14px;
}

}