
.message {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.message p {
  background-color: #e3e3e3;
  width: 70%;
  font-size: 14px;
  padding: 8px;
  border-radius: 10px 10px 10px 0;
  margin-bottom: 1rem;
}

.message_own { 
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.message_own p { 
  background-color: #0085FF;
  color: white;
  width: 70%;
  font-size: 14px;
  padding: 8px;
  border-radius: 10px 10px 0 10px;
  margin-bottom: 1rem;
}

.bot_options {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.bot_options button{
  color: #0085FF;
  padding: 5px;
  background-color: #dadada;
  border: 0;
  border-radius: 5px;
  margin: 5px 0;
}

.selected_options {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  font-size: 14px;
  padding: 8px;
  border-radius: 10px 10px 10px 0;
  margin: 1rem 0;
}

.selected_options p {
  text-align: justify;
  width: 100%;
}

.selected_options a { 
  color: #0085FF;
  font-weight: bold;
}